version: '3'

services:
  db:
    container_name: db
    build: ./db
    ports:
      - '5443:5432'
    environment:
      - POSTGRES_USER=kompile
      - POSTGRES_PASSWORD=kompile18
  grafana:
    container_name: grafana
    build: ./grafana
    ports:
      - '5000:3000'
    user: "104"
    depends_on:
      - db
    links:
      - db
  api:
    container_name: api
    build: ./api
    ports:
      - '3000:3000'
    links:
      - db
    environment:
      - PORT=3000
      - NODE_ENV=production
      - DB_USERNAME=kompile
      - DB_PASSWORD=kompile18
      - DB_NAME=kompile
      - DB_HOSTNAME=db
  nginx:
    container_name: nginx
    build: ./nginx
    links:
      - api
      - grafana
    ports:
      - '80:80'
