version: '3'

services:
  db:
    container_name: db
    build: ./api/models/
    ports:
      - '5443:5432'
    environment:
      - POSTGRES_USER=kompile
      - POSTGRES_PASSWORD=kompile18
  api:
    container_name: api
    build: ./api
    ports:
      - '3000:3000'
    environment:
      - PORT=3000
      - NODE_ENV=production
      - DB_USERNAME=kompile
      - DB_PASSWORD=kompile18
      - DB_NAME=kompile
      - DB_HOSTNAME=db
    links:
      - db
  web:
    container_name: web
    build: ./client
    ports:
      - '8080:8080'
    environment:
      - PORT=8080
      - NODE_ENV=development
      - API_URL=http://api:3000
    links:
      - api
