<!DOCTYPE html>
<html>
  <head>
    <title>Kompile</title>
  </head>
  <body>
    <h1>Kompile</h1>
    <p>Here we will show a dashboard of your team</p>
    <% if (user) { %>
    <form action="/logout" method="post">
        <button type="submit" class="btn btn-warning btn-lg">Logout</button>
    </form>
    <% } %>
  </body>
</html>
