<!DOCTYPE html>
<html>
  <head>
    <title>Kompile</title>
  </head>
  <body>
    <h1>Kompile</h1>
    <p>Here we will show a dashboard of your team</p>


    <table>
      <tr>
        <th>id</th>
        <th>Duration</th>
      </tr>
      <% for (var i = 0; i < kompiles.length; i++) { %>
        <tr>
          <td><%= kompiles[i].id %></td>
          <td><%= kompiles[i].duration %></td>
      </tr>    
    <% } %>
    </table>


    <% if (user) { %>
    <form action="/logout" method="post">
        <button type="submit" class="btn btn-warning btn-lg">Logout</button>
    </form>
    <% } %>
  </body>
</html>
