<!DOCTYPE html>
<html>
  <head>
    <title>Kompile</title>
  </head>
  <body>
    <h1>Kompile</h1>
    <p>Welcome to the website where you can know how much time your team spend compiling every day!</p>
  </body>
</html>
