version: 2
jobs:
  build:
    docker:
      - image: circleci/node:7.10
    working_directory: ~/kompile

    steps:
      - checkout
      - run: cd api
      - run: npm install
      - run: npm install --dev
      - run: npm test
      - store_test_results:
          path: ~/kompile/test-output/test-results.xml
